<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MLP</title>
  <link rel="stylesheet" href="/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="https://i.pinimg.com/originals/fe/03/c9/fe03c9b7d0e386d60e5f6e2e8d057a56.gif">
  <h1 class="title hidden">Which My Little Pony Character Are You?</h1>
  <div class="title-container"></div>
</head>
<body>
  <div class="container">
    <button id="start-btn">Start</button>
  </div>
  <script src="/script.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <div class="signature">Vlad</div>
</body>
</html>